

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
}

h1{
	margin-bottom: 40px;
}

form#pasteForm{ 
}

#results {
	font-size: 0.9em;
}

#results p.sentence {
	font-size: 1em;
}

#results .basic {}

#results.show-basic-english .complex {
	text-decoration: underline;
}
#results.hide-ngram-variable-colors .common{
	color: #000 !important;
}
#results.hide-ngram-variable-colors .uncommon{
	color: #DDD !important;
}

#results.hide-ngram .common, #results.hide-ngram .uncommon {
	color: #000 !important;
}

#results .progress {
	margin-bottom: 0px;
}
#results hr {
	margin: 0 0 5px;
}

#controls input[type=checkbox]{
	margin-right: 10px;
}
